
@{
    ViewBag.Title = "Cuenta";
}

<h2>Cuenta</h2>

<section class="grid-2">
    <div class="item-1a" onclick="location.href='/User/Create'">
         <h3 style="font-size:20px; color:#ffffff">Crear Cuenta</h3>
    </div>

    <div class="item-1a" onclick="location.href='/User/Index'">
        <h3 style="font-size:20px; color:#ffffff">Cuentas</h3>
    </div>
    <div class="item-1a">
        <h3 style="font-size:20px; color:#ffffff">Editar Cuenta</h3>
    </div>
    <div class="item-1a">
        <h3 style="font-size:20px; color:#ffffff">Eliminar Cuenta</h3>
    </div>





</section>