
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/b1.css" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/Site.css "/>
<body>
    <form method="post">
        <center><input type="text" name="nick" class="text-center" /></center>
            <br />
        <center><input type="password" name="psswd" class="text-center " /></center>
            <br />
            <center><input type="submit" value="Login" class="btn" /></center>
</form>
</body>

