
@{
    ViewBag.Title = "lenguaje";
}

<div class="row">
    
    <div class="col-4">

        <header class="page-header">
            <h1 class="page-title">LENGUAJE</h1>
        </header>
        <div class="row">
            <div class="col-8">
                <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <div class="panel panel-default">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-xs-12 col-sm-4">
                                    <figure>
                                        <img class="img-circle img-responsive" alt="" src="http://placehold.it/300x300">
                                    </figure>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <ul class="list-group">
                                        <li class="list-group-item">Tipo<img src="~/Content/yes.gif" alt="Mountain View" style="width:20px;height:20px;"></li>
                                        <li class="list-group-item">Software Engineer</li>
                                        <li class="list-group-item">Google Inc. </li>
                                    </ul>
                                    <a href='@Url.Action("c2", "c2")' class="btn btn-primary btn-md active" role="button" aria-pressed="true">Cursos</a>
                                </div>
                            </div>
                        </div>

                        <div class="bs-callout bs-callout-danger">
                            <h4>Definicion</h4>
                            <p>
                                La comunicación es una acción social necesaria sea cual sea su forma. Si esta no existiere, 
                                nadie sería capaz de conocer a fondo el mundo que nos rodea y mucho menos compartir las 
                                experiencias propias de cada ser humano con los demás.
                            </p>
                            <p>
                                La literatura es una disciplina que usa el lenguaje de forma estética. El término literatura 
                                proviene del vocablo latínlitterae, que hace referencia a la acumulación de conocimientos 
                                que nos guíen al correcto modo de escribir y de leer.
                            </p>
                        </div>
                        <div class="bs-callout bs-callout-danger">
                            <h4>COMPETENCIAS</h4>
                            <ul class="list-group">
                                <a class="list-group-item inactive-link" href="#">
                                    <h4 class="list-group-item-heading">
                                        Software Engineer at Twitter
                                    </h4>
                                    <p class="list-group-item-text">
                                        Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel 
                                        vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,
                                        te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, 
                                        mei habemus persecuti mediocritatem ei.
                                    </p>
                                </a>
                                <a class="list-group-item inactive-link" href="#">
                                    <h4 class="list-group-item-heading">Software Engineer at LinkedIn</h4>
                                    <p class="list-group-item-text">
                                        Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel 
                                    vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu, te pri duis 
                                    timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus 
                                    persecuti mediocritatem ei.
                                    </p><ul>
                                        <li>
                                            Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te 
                                            vel vidit mollis complectitur.
                                            Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola,
                                            nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti 
                                            mediocritatem ei.
                                        </li>
                                        <li>
                                            Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te 
                                            vel vidit mollis complectitur.
                                            Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola,
                                            nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti 
                                            mediocritatem ei.
                                        </li>
                                    </ul>
                                    <p></p>
                                </a>
                            </ul>
                        </div>
                        <div class="bs-callout bs-callout-danger">
                            <h4>Education</h4>
                            <table class="table table-striped table-responsive ">
                                <thead>
                                    <tr>
                                        <th>Degree</th>
                                        <th>Graduation Year</th>
                                        <th>CGPA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Masters in Computer Science and Engineering</td>
                                        <td>2014</td>
                                        <td> 3.50 </td>
                                    </tr>
                                    <tr>
                                        <td>BSc. in Computer Science and Engineering</td>
                                        <td>2011</td>
                                        <td> 3.25 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
    <div class="col-8">

        
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="panel panel-default">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-xs-12 col-sm-4">
                            <figure>
                                <img class="img-circle img-responsive" alt="" src="http://placehold.it/300x300">
                            </figure>


                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <ul class="list-group">
                                <li class="list-group-item">Tipo<img src="~/Content/yes.gif" alt="Mountain View" style="width:20px;height:20px;"></li>
                                <li class="list-group-item">Software Engineer</li>
                                <li class="list-group-item">Google Inc. </li>
                            </ul>
                            <a href='@Url.Action("c2", "c2")' class="btn btn-primary btn-md active" role="button" aria-pressed="true">Cursos</a>
                        </div>
                    </div>
                </div>

                <div class="bs-callout bs-callout-danger">
                    <h4>Definicion</h4>
                    <p>
                        La comunicación es una acción social necesaria sea cual sea su forma. Si esta no existiere, 
                        nadie sería capaz de conocer a fondo el mundo que nos rodea y mucho menos compartir las 
                        experiencias propias de cada ser
                        humano con los demás.


                    </p>
                    <p>
                        La literatura es una disciplina que usa el lenguaje de forma estética. El término literatura 
                        proviene del vocablo latínlitterae, que hace referencia a la acumulación de conocimientos que 
                        nos guíen al correcto modo de escribir y de leer.


                    </p>
                </div>
                <div class="bs-callout bs-callout-danger">
                    <h4>COMPETENCIAS</h4>
                    <ul class="list-group">
                        <a class="list-group-item inactive-link" href="#">
                            <h4 class="list-group-item-heading">
                                Software Engineer at Twitter
                            </h4>
                            <p class="list-group-item-text">
                                Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel 
                                vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,
                                te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, 
                                mei habemus persecuti mediocritatem ei.
                            </p>
                        </a>
                        <a class="list-group-item inactive-link" href="#">
                            <h4 class="list-group-item-heading">Software Engineer at LinkedIn</h4>
                            <p class="list-group-item-text">
                                Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel 
                                vidit mollis complectitur.
                                Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola,
                                nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti 
                                mediocritatem ei.
                            </p><ul>
                                <li>
                                    Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel 
                                    vidit mollis complectitur.
                                    Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola,
                                    nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti 
                                    mediocritatem ei.
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel 
                                    vidit mollis complectitur.
                                    Quis verear mel ne. Munere vituperata vis cu, te pri duis timeam scaevola,
                                    nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti
                                    mediocritatem ei.
                                </li>
                            </ul>
                            <p></p>
                        </a>
                    </ul>
                </div>
                <div class="bs-callout bs-callout-danger">
                    <h4>Education</h4>
                    <table class="table table-striped table-responsive ">
                        <thead>
                            <tr>
                                <th>Degree</th>
                                <th>Graduation Year</th>
                                <th>CGPA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Masters in Computer Science and Engineering</td>
                                <td>2014</td>
                                <td> 3.50 </td>
                            </tr>
                            <tr>
                                <td>BSc. in Computer Science and Engineering</td>
                                <td>2011</td>
                                <td> 3.25 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>