
@{
    ViewBag.Title = "Temas";
}


<div class="main">

    <div class="row">
        <div class="col-sm-4"> </div>
        <div class="col-sm-4">
            <div class="container">
                <h3>TEMA 1</h3>
                <h6>Los enunciados:Oracion y Frase</h6>
                <a  href='@Url.Action("quiz", "quiz")';">
                    <img class="img-circle img-responsive" alt="" src="~/Content/circl1.png">
                </a>
            </div>
        </div>
        <div class="col-xs-6"> </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h3>TEMA 2</h3>
            <h6>Los argumentos</h6>
            <img class="img-circle img-responsive" alt="" src="~/Content/circl1.png">
        </div>
        <div class="col-sm-4"> </div>
        <div class="col-sm-4">
            <h3>TEMA 3</h3>
            <h6>La preposicion</h6>
            <img class="img-circle img-responsive" alt="" src="~/Content/circl1.png" href='@Url.Action("c1", "c1")'>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4"> </div>
        <div class="col-sm-4">
            <h3>TEMA 4</h3>
            <h6>Literatura</h6>
            <img class="img-circle img-responsive" alt="" src="~/Content/circl1.png" href='@Url.Action("c1", "c1")'>
        </div>
       
    </div>

    





</div>




