<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="~/Content/c2.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/b2.css" />
</head>
<body>
   
    <section class="grid-2">
        <div class="item-1a" onclick="location.href='@Url.Action("c1", "c1")'">
            <h2 style="color:antiquewhite"><b>LENGUAJE</b></h2>
            <img src="~/Content/icono4.png" alt="logo" height="202" width="202" style="align-content:center" />
        </div>
        <div class="item-2a" onclick="location.href='@Url.Action("ca1", "ca1")'">
            <h2 style="color:antiquewhite"><b>MATE.</b></h2>
            <img src="~/Content/icono5.png" alt="logo" height="202" width="202" style="align-content:center" />
        </div>
        <div class="item-1a">
            <h2 style="color:antiquewhite"><b>QUIMICA</b></h2>
            <img src="~/Content/icono6.png" alt="logo" height="202" width="202" style="align-content:center" />
        </div>
        <div class="item-2a">
            <h2 style="color:antiquewhite"><b>ANATOMIA</b></h2>
            <img src="~/Content/icono7.png" alt="logo" height="202" width="202" style="align-content:center" />
        </div>
        <div class="item-4a"></div>
        <div class="item-4a"></div>
        <div class="item-4a"></div>
        <div class="item-4a"></div>
    </section>
</body>
@ViewBag.nombre
</html>
