<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="~/Content/c2.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <img src="~/Content/logo3.jpg" alt="logo" height="61" width="1140" />
    <section id="screen2">
        

                <table class="table">
            <thead>
                <tr>
                    <th><img src="~/Content/icono1.png" align="top" alt="logo" height="61" width="61" /></th>
                    <th><h3 align="left">LENGUAJE</h3><h5 align="left">Una lengua es un sistema de comunicación verbal y escrito, de convenciones y reglas gramaticales, empleado por las comunidades humanas con fines comunicativos.</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="button" class="btn btn-info" value="Mas Informacion" onclick="location.href='@Url.Action("c1", "c1")'" />
                    </td>

                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th><img src="~/Content/icono1.png" align="top" alt="logo" height="61" width="61" /></th>
                    <th><h3 align="left">MATEMATICA</h3><h5 align="left">La matemática en realidad es un conjunto de lenguajes formales que pueden ser usados como herramienta para plantear problemas de manera no ambigua en contextos específicos.</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#" class="btn btn-info" role="button">Mas Informacion</a></td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th><img src="~/Content/icono1.png" align="top" alt="logo" height="61" width="61" /></th>
                    <th><h3 align="left">QUIMICA</h3><h5 align="left">Ciencia que estudia la composición y las propiedades de la materia y de las transformaciones que esta experimenta sin que se alteren los elementos que la forman.</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#" class="btn btn-info" role="button">Mas Informacion</a></td>
                </tr>
            </tbody>
        </table>
                
                
        
        
        

    </section>



</body>
</html>
